<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lucky.job.center.dao.EasyJobLogGlueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="lucky.job.center.entity.EasyJobLogGlue">
        <id column="id" property="id"/>
        <result column="job_id" property="jobId"/>
        <result column="glue_type" property="glueType"/>
        <result column="glue_source" property="glueSource"/>
        <result column="glue_remark" property="glueRemark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_id, glue_type, glue_source, glue_remark, create_time, update_time
    </sql>

    <delete id="removeOld">
		DELETE FROM easy_job_log_glue
		WHERE id NOT in(
			SELECT id FROM(
				SELECT id FROM easy_job_log_glue
				WHERE `job_id` = #{jobId}
				ORDER BY update_time desc
				LIMIT 0, #{limit}
			) t1
		) AND `job_id` = #{jobId}
	</delete>

</mapper>
