<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lucky.job.center.dao.EasyJobGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="lucky.job.center.entity.EasyJobGroup">
        <id column="id" property="id"/>
        <result column="app_name" property="appName"/>
        <result column="title" property="title"/>
        <result column="address_type" property="addressType"/>
        <result column="address_list" property="addressList"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_name, title, address_type, address_list, create_time, update_time
    </sql>


    <select id="pageList" parameterType="java.util.HashMap" resultMap="EasyJobGroup">
        SELECT
        <include refid="Base_Column_List"/>
        FROM easy_job_group AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="appname != null and appname != ''">
                AND t.app_name like CONCAT(CONCAT('%', #{appname}), '%')
            </if>
            <if test="title != null and title != ''">
                AND t.title like CONCAT(CONCAT('%', #{title}), '%')
            </if>
        </trim>
        ORDER BY t.app_name, t.title, t.id ASC
        LIMIT #{offset}, #{pagesize}
    </select>


    <select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
        SELECT count(1)
        FROM easy_job_group AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="appname != null and appname != ''">
                AND t.app_name like CONCAT(CONCAT('%', #{appname}), '%')
            </if>
            <if test="title != null and title != ''">
                AND t.title like CONCAT(CONCAT('%', #{title}), '%')
            </if>
        </trim>
    </select>

</mapper>
